@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

:root {
  --font-heading: 'Lato', sans-serif;
  --font-primary: 'Open Sans', sans-serif;
}

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: bolder;
}

html,
body {
  height: 100%;
  font-family: var(--font-primary);
}

body {
  margin: 0;
  overflow: hidden;
  background: rgb(55, 100, 144);

  display: flex;
}

/* Navigation */
.navigation {
  background-color: rgb(244, 247, 248);
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-items {
  list-style: none;
}

.nav-item {
  padding: 2px 5px;
  margin: 10px 0px;
}

.nav-link {
  font-size: 50px;
  font-family: var(--font-heading);
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

/* Sketch Holder */
#sketch-holder {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch-holder img {
  width: 400px;

  position: absolute;
}
