html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: rgb(55, 100, 144);

  display: flex;
}

#sketch-holder {
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch-holder img {
  width: 400px;

  position: absolute;
}

.navigation {
  background-color: rgb(244, 247, 248);
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
